.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label{
  display: flex;
  margin-bottom: 10px;
  text-align: right;
}

label span {
  margin-left: 10px;
}

.filter-button{
  display: block;
  margin-bottom: 10px;
  text-align: right;
  align-self: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}

.filter-button:active {
  transform: scale(0.95);
}

input[type="range"] {
  width: 150px;
}

input {
  padding: 1px;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.restaurants {
  width: 300px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.restaurants h2 {
  color: #333;
  margin: 2px;
}

.restaurants p {
  color: #666;
  margin: 2px;
}